/app/venv
/app/.idea
/app/__pycache__
/app/config/__pycache__
/app/models/__pycache__
/app/router/__pycache__
/app/static/__pycache__
/app/utils/__pycache__
/services/router/__pycache__
/services/config/__pycache__
/services/models/__pycache__
/services/router/__pycache__
/services/static/__pycache__
/services/utils/__pycache__
/websockets/router/__pycache__
/websockets/config/__pycache__
/websockets/models/__pycache__
/websockets/router/__pycache__
/websockets/static/__pycache__
/websockets/utils/__pycache__

